alabaster==1.0.0
babel==2.17.0
certifi==2025.4.26
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
docutils==0.21.2
idna==3.10
imagesize==1.4.1
jinja2==3.1.6
markupsafe==3.0.2
packaging==25.0
pb-tool==3.1.0
pip==25.1
pygments==2.19.1
pyqt5==5.15.11
pyqt5-qt5==5.15.16
pyqt5-sip==12.17.0
requests==2.32.3
setuptools==65.5.0
snowballstemmer==2.2.0
sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tomli==2.2.1
urllib3==2.4.0
uv==0.6.17
